@import url("reset.css");

* {
  box-sizing: border-box;
}

html, body {
  background: #2980b9;
  text-align: center;
  color: #fff;
  font-family: 'Lato Thin', sans-serif;
  font-size: 3vh;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.location-finding {
  flex: 1;
}

.location-finding.hidden {
  display: none;
}

.main {
  flex: 1;
  margin: 5% auto;
  display: none;
  flex-direction: column;
  height: 75%;
  background: rgba(189, 195, 199, 0.2);
  border-radius: 20px;
  min-width: 65%;
  align-items: center;
}

.loaded {
  display: flex;
}

.main h1 {
  margin-top: 3%;
}

.info_item {
  flex: 1;
  display: flex;
  align-items: center;
}

.location {
  font-size: 3vh;
  font-weight: bold;
}

.temperature {
  font-size: 7vh;
}

.info_item.cond {
  flex: 1;
  width: 15vw;
  display: flex;
  justify-content: center;
  margin: 0 10%;
}

.info__item__cond{
  flex: 1;
}

.info_item.add_info {
  display: flex;
  margin: 2% 0;
}
.add_info_item {
  flex: 1;
  min-width: 15vw;
}

.press {
  border-right: 2px solid #fefefe;
  border-left: 2px solid #fefefe;
}

.add_info__icon {
  margin-bottom: 15%;
}

.location-finding {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
}

canvas {
  display: inline-block;
  margin-left: 3em;
}

.switch {
  margin: 3em;
  padding: 0;
  color: #fff;
  background: rgba(0,0,0,0);
  height: 3em;
  width: 160px;
  text-transform: uppercase;
  border: 2px solid #fff;
}

.switch:hover {
  background: rgba(180, 180, 180, 0.2);
  border: 2px solid #363636;
}

.switch:focus {
  outline: none;
}

footer {
  margin-bottom: 3%;
}

.footer-text {
  margin-top: 3%;
  margin-bottom: 10%;
}

.icons-container {
  display: flex;
}

.icons-container a {
  padding-right: 6%;
  padding-left: 6%;
  flex: 1;
  color: #ffffff;
  font-size: 0.5em;
}

a:hover {
  color: #363636;
}
