body {
    margin: 0;
    padding: 0;
    background: center center no-repeat url("https://www.walldevil.com/wallpapers/w03/025271-abstract-background-gaussian-blur.jpg");
    text-align: center;
    color: #d5d5d5;
    font-family: 'Lato', sans-serif;
    height: 90vh;
}

.main {
    width: 60%;
    margin: 0 auto;
    display: none;
}


.location-finding {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
}

.info {
    display: flex;
    overflow: hidden;
    font-size: 3em;
}

.info_item {
    margin: 5%;
    flex: 1;
}

.weather-icon {
    transform: scale(2);
}

.conditions {
    font-size: 2em;
}

.switch {
    padding: 0;
    color: #fff;
    background: rgba(0,0,0,0);
    height: 50px;
    width: 160px;
    text-transform: uppercase;
    border: 2px solid #fff;
}

.switch:hover {
    background: rgba(180, 180, 180, 0.2);
    border: 2px solid #363636;
}

footer {
    margin-left: 0;
    margin-right: 0;
}

.footer-text h3 {
    margin-top: 5%;
    margin-bottom: 2%;
    font-size: 1em;
}

.icons-container a {
    margin: 2%;
    color: #ffffff;
    font-size: 1em;
}

a:hover {
    color: #363636;
}

@media (min-width: 968px) {
    h3.location {
        float: right;
    }

    h3.temperature_container {
        float: left;
    }


}




